@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

html, body {
  min-height: 100%;
  height: 100%;
}
body {
  font-family: Open Sans, 'Helvetica','Arial';
  background: #333;
  color:black;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

header {
  padding: 2em 0;
  width: 100%;
  border-bottom: 20px groove silver;
  color: silver;
}
header h1 {
  margin: 0;
  text-align: center;
  font-size: 4em;
  font-weight: 300;
  letter-spacing: 5px;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

#content{
  height:100%;
  width: 100%;
}
.center {
  display:flex;
  justify-content: center;
}
.newCard {
  font-size:10em;
  cursor: pointer;
  color: aqua;
  text-shadow: 1px 1px aqua;
}
.formDiv {
  margin:0 auto;
}
.card {
  font-size: 12px;
  line-height: 15px;
  width: 100%;
  height: 40%;
  border: solid 1px black;
  padding: 10px;
  background-color: #8D56E5;
  margin: 15px auto;
  text-align: center;
}
.priority {
  cursor: pointer;
}

@media (min-width:1600px) {
  .card {
    width:40%;
  }
}

.low,
.Low {
  background-color: #b3ffb3;
}

.medium,
.Medium {
  background-color: #FFD175;
}

.high,
.High {
  background-color: #FF769B;
}

.blocker,
.Blocker {
  background-color: #ED4252;
}
.priority,
.status {
  cursor:pointer;
}

.column{
  height:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 33.33%;
  min-height: 10em;
  justify-content: space-between;
  align-content: flex-start;
  padding: 15px;
  background-color: grey;
  border-bottom: 20px ridge silver;
  border-left: 10px ridge silver;
  border-right: 10px groove silver;
}

.column-holder{
  height:100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: stretch;
}

.card > span{
  display: table;
}

.timestamp {
  float:right;
  margin-right: 5px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 24px;
  width: 18px;
  height: 18px;
  font-weight: bold;
  margin-right: 5px;
  border-radius: 8px 8px 8px 8px;
}

.close:hover,
.close:focus {
  color: #ff0000;
  text-decoration: none;
  cursor: pointer;
  background-color: #ffffff;
}

.status:hover{
  cursor: pointer;
}

.edit {
  color:#4d4d4d;
  float:right;
  font-size:24px;
  font-weight:bold;
}

.edit:hover,
.edit:focus {
  color: #ff0000;
  text-decoration: none;
  cursor: pointer;
  background-color: #ffffff;
}

.card > .title{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

button{
  font-size:20px;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
  color: #FFFFFF;
  background-image: linear-gradient(to bottom, #3093C7, #1C5A85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093C7, endColorstr=#1C5A85);
}

button:hover{
 background-color: #26759E; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759E), to(#133D5B));
 background-image: linear-gradient(to bottom, #26759E, #133D5B);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759E, endColorstr=#133D5B);
}
form {
  display: table;
  margin: 10px auto;
  background: #f2f2f2;
  padding:10px 10px;
  border-radius:3px;
}
form label {
  position: relative;
  display: block;
  color: #000;
  font-size:12px;
}
form input {
  display: block;
  width: 100%;
  height: 20px;
  padding: 6px 6px;
  font-size: 14px;
  color: #555;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-sizing: border-box;
}
form span {
  color:red;
}
form button {
  display:block;
  margin:2px auto;
  text-transform: uppercase;
  font-size:10px;
}

.backArrow {
  font-size:8em;
  cursor:pointer;
  color:aqua;
  text-shadow: 1px 1px aqua;
}