#content{
  display: flex;
  flex-direction: column;
}

.small-card{
  border: solid 1px black;
}

.low,
.Low {
  background-color: #99ff99;
}

.medium,
.Medium {
  background-color: #ffffcc;
}

.high,
.High {
  background-color: #f7d4d4;
}


.blocker,
.Blocker {
  background-color: #ff3333;
}

.column{
  float:left;
  width: 33%;
  height:100vh;
  border: solid 1px black;
}

/*.column-holder{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
  align-items: stretch;
}*/

#Queue{
  background-color: orange;
}

#InProgress{
  background-color: purple;
}

#Done{
  background-color: yellow;
}