@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

html {
  min-height: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  font-family: Open Sans, 'Helvetica','Arial';
  background: #333;
  color: #333;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}

header {
  padding: 2em 0;
  width: 100%;
  color: silver;

  h1 {
    margin: 0;
    text-align: center;
    font-size: 4em;
    font-weight: 300;
    letter-spacing: 5px;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  }
}

.headers {
  width:100%;
  display:flex;
  justify-content:space-around;
  border-bottom: 5px solid silver;
  color: silver;
  font-weight: 300;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}

#content {
  height: 100%;
  width: 100%;
  letter-spacing:1px;
}

.center {
  display: flex;
  justify-content: center;
}

.newCard {
  font-size: 10em;
  cursor: pointer;
  color: aqua;
  text-shadow: 1px 1px aqua;
}

.formDiv {
  margin: 0 auto;
}

.card {
  font-size: 12px;
  line-height: 15px;
  width: 100%;
  height: 40%;
  border: solid 1px #333;
  padding: 10px;
  background-color: #8D56E5;
  margin: 15px auto;
  text-align: center;
}

.priority {
  text-transform: uppercase;
}

@media (min-width: 1600px) {
  .card {
    width: 40%;
  }
}

.low, .Low {
  background-color: #b3ffb3;
}

.medium, .Medium {
  background-color: #FFD175;
}

.high, .High {
  background-color: #FF769B;
}

.blocker, .Blocker {
  background-color: #ED4252;
}

.priority, .status {
  cursor: pointer;
}

.column {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 33.33%;
  min-height: 10em;
  justify-content: space-between;
  align-content: flex-start;
  padding: 15px;
  background-color: grey;
  border-bottom: 5px solid silver;
  border-left: 2.5px solid silver;
  border-right: 2.5px solid silver;
}

.column-holder {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: stretch;
}

.card > span {
  display: table;
}

.timestamp {
  float: right;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 24px;
  font-weight: bold;

  &:hover, &:focus {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
  }
}

.edit {
  color: #4d4d4d;
  float: right;
  font-size: 24px;
  font-weight: bold;

  &:hover, &:focus {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
  }
}

.card > .title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

form {
  display: table;
  margin: 10px auto;
  background: #f2f2f2;
  padding: 10px 10px;

  label {
    position: relative;
    display: block;
    color: #000;
    font-weight:700;
    font-size: 12px;
    margin-bottom:10px;
  }

  input {
    display: block;
    width: 100%;
    height: 20px;
    padding: 6px 6px;
    font-size: 14px;
    color: #555;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom:20px;
  }

  span {
    color: red;
  }

  button {
    display: block;
    margin: 2px auto;
    text-transform: uppercase;
    font-size: 10px;
  }
}

.backArrow {
  font-size: 8em;
  cursor: pointer;
  color: aqua;
  text-shadow: 1px 1px aqua;
}