.board {
  display:flex;
}

#Queue, #InProgress, #Done {
  min-width: 0
}
#Queue {
  flex: 0;
  width:33%;
  height:100%;
}
#InProgress {
  flex: 0;
  width:33%;
  height:100%;
}
#Done {
  flex: 0;
  width:33%;
  height:100%;
}
.card {
  background-color:red;
  display:flex;
  display:inline-block;
}
